################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Games/.vs/Games/v16/Browse.VC.opendb
